html {
    box-sizing: border-box; /* Para que la cajas empiecen a contar desde el borde*/
    font-family: sans-serif;
    font-size: 16px;
}

/*El boxsizing es heredado a todos los elementos html*/
*,
*:after,
*::before{
    box-sizing: inherit;
}

/*Para el body, establecemos sus márgenes a 0. Y con el "overflow-x" lo establecemos en hidden para que no aparezaca la barra horzintal en algún elemento*/
body {
    margin:0;
    overflow-x: hidden;
}

/* Para los enlaces */
a {
    color: #01579b;
    transition: color 0.3s ease; /*Para la transición establecemos un color y un efecto de acelaración ease*/
}

a:hover {
    color: #00b0ff;
}

h1{
    text-align: center;
}

/*Para obtener imágenes responsive*/
img {
    max-width: 100%;
    height: auto;
}

.error {
    padding: 1rem;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #dc3545;
}

.loader {
    margin: 1rem auto;
    display: block;
    width: 4rem;
    height: 4rem;
}

.form-search {
    margin: auto;
    text-align: 0.50rem;
}

.form-search input {
    display: block;
    margin: auto;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.header {
    padding: 0.5rem;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #3173908c;
}

/* Para aplicar un espaciado entre todos los elementos hijos del header */
.header > * {
    margin: 1rem auto;
}

